In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression

In [91]:
df=pd.read_csv(r"C:\Users\91709\Downloads\prob_csv\train.csv")

In [92]:
df1=pd.read_csv(r"C:\Users\91709\Downloads\prob_csv\test.csv")

In [93]:
df.shape

(31647, 18)

In [94]:
df1.shape

(13564, 17)

In [95]:
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [96]:
train=df

In [97]:
test=df1

In [98]:
x_train=train.drop('subscribed',axis=1)

In [99]:
y_train=train['subscribed']

In [100]:
x_train=pd.get_dummies(x_train)

In [101]:
logreg=LogisticRegression()

In [102]:
logreg.fit(x_train,y_train)

C:\Users\91709\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [103]:
x_test=pd.get_dummies(test)

In [104]:
pred=logreg.predict(x_test)

In [105]:
pred

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [106]:
logreg.score(x_train,y_train)

0.8925964546402503

In [107]:
pred

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [108]:
from sklearn.metrics import accuracy_score

In [110]:
submission=pd.DataFrame()

In [111]:
submission['ID']=test['ID']
submission['subscribed']=pred

In [112]:
submission['subscribed'].replace(0,'no',inplace=True)
submission['subscribed'].replace(1,'yes',inplace=True)

In [113]:
submission.to_csv('submission.csv', header=True, index=False)

In [115]:
df3=pd.read_csv(r"submission.csv")

In [117]:
df3['subscribed']

0        no
1        no
2        no
3        no
4        no
         ..
13559    no
13560    no
13561    no
13562    no
13563    no
Name: subscribed, Length: 13564, dtype: object